<header>
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">
          Learn Labs
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav  ml-auto ">
          
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/register">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
  <section class="hero">
    <div class="container">
      <h1>Welcome to our e-learning platform</h1>
      <p>Learn new skills and advance your career with our online courses.</p>
    </div>
  </section>
  
  <section class="course-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Course Image">
            <div class="card-body">
              <h5 class="card-title">Course Title</h5>
              <p class="card-text">Some quick example text to build on the course description.</p>
              <a href="#" class="btn btn-primary">View Course</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Course Image">
            <div class="card-body">
              <h5 class="card-title">Course Title</h5>
              <p class="card-text">Some quick example text to build on the course description.</p>
              <a href="#" class="btn btn-primary">View Course</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Course Image">
            <div class="card-body">
              <h5 class="card-title">Course Title</h5>
              <p class="card-text">Some quick example text to build on the course description.</p>
              <a href="#" class="btn btn-primary">View Course</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <img class="card-img-top" src="https://via.placeholder.com/350x200" alt="Course Image">
            <div class="card-body">
              <h5 class="card-title">Course Title</h5>
              <p class="card-text">Some quick example text to build on the course description.</p>
              <a href="#" class="btn btn-primary">View Course</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 d-flex align-items-center justify-content-center">
        <div class="text-center">
          <h2>Enroll Now</h2>
          <p>Get access to our wide range of courses and start learning today.</p>
          <a routerLink="/login" class="btn btn-outline-primary">Get Started</a>
        </div>
      </div>
    </div>
  </section>
  