<div class="input-group mb-1">
  <input type="text" class="form-control" placeholder="Search for your courses here" [(ngModel)]="searchInput" (input)="searchCourses()">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary search_button" type="button" (click)="searchCourses()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="24" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
      </svg>
    </button>
  </div>
</div>

<div>
  <button class="btn primary" routerLink="/main/add-courses">Add courses</button>
</div>
<div class="select">
  <label for="category">Choose a Category:</label>
  <select name="category" id="category" (change)="getBySort($event)">
    <option value="">All</option> <!-- Add an "All" option to show all courses -->
    <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
  </select>
</div>

<div class="main">
  <div class="card" *ngFor="let course of (sortedData || courses)">
    <div class="image">
      <img [src]="course.thumbnailUrl" routerLink="/access/view-details/{{course._id}}" >
    </div>
    <div class="title">
      <h1>{{ course.courseName }}</h1>
    </div>
    <div class="des">
      <p>Category: {{ course.courseCategory }}</p>
      <p>Price: {{ course.amount | currency  }}</p>
      <input type="checkbox"  [(ngModel)]="course.checkboxValue" (change)="onCheckboxChange($event, course)"> Add To Home
      {{course.checkbox}}<br><br>
      <button>Modify Course Details</button>
    </div>
  </div>
</div>
